<div class="main top-main">
  <div class="inner">
     <div class="top-message">
       <h2>もうみんなお風呂入ったのかな？ 誰か猫にごはんあげた？
       <br>家族の夜のタスクを共有して最適化しよう！
      </h2>
    </div>
      <img class="top-img" src="/top.png">
  </div>
</div>